<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Legend Bistro 🍕</title>
    <link rel="icon" href="https://www.logomaker.com/api/main/images/1j+ojlJBOMkX9Wyufxe43D6khvKJqxJJmBvNwWJqZ0wcoloyxDtf37Evt6Itdh8N9xRV2lVKJ8s8jid4WYgVjB5i6W7TZtUKBiE7jScF" type="image/x-ico">

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@100;400;900&display=swap" rel="stylesheet" />
  </head>
</html>
<style>
body {
  background-image: url('https://images.unsplash.com/photo-1461696114087-397271a7aedc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80');
}
</style>
<div class="w3-bar w3-black">
  <a href="/" class="w3-bar-item w3-button" style="font-family:verdana>Home</a>
  <a href="/shop" class="w3-bar-item w3-button" style="font-family:verdana>Shop</a>
  <a href="/Logout" class="w3-bar-item w3-button" style="font-family:verdana>Logout</a>
</div>